@using MVCApp.Domain.Entities
@model List<User>

@{
    ViewData["Title"] = "Crud functionality";
}

<div class="container-fluid p-2 d-flex flex-column">
    <table class="table table-hover table-dark mt-2">
        <caption>Lista de usuarios</caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th class="col-3" scope="col">Email</th>
                <th class="col-2" scope="col"></th>
                <th class="col-2" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <div>No hay datos</div>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Username</td>
                        <td>@item.Email</td>
                        <td>
                            <form asp-controller="Crud" asp-action="deleteuser" asp-route-id="@item.Id" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">Eliminar</button>
                            </form>
                        </td>
                        <td>
                            @* <form asp-controller="Crud" asp-action="edituser" asp-route-id="@item.Id" method="get" style="display:inline;">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </form> *@
                            <a href=$"/crud/edituser/{@item.id}"></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<a class="btn bnt-link btn-outline-light mt-2" href="/crud/adduser/">Agregar usuario</a>
